* {
	font: 10pt black "Verdana";
}

#ToDoApps {
	background-color: #003049;
}

#ToDoApps #TitleBarFrame {
	background-color: #9ed9f8;
}

#ToDoApps #AddToDoList {
	background-color: #dcf0fa;
}

#ToDoApps #TitleBarFrame,
#ToDoApps #AddToDoList {
	border-radius: 10px;
	border-top: 1px solid #1eacfa;
	border-bottom: 1px solid #1eacfa;
	border-right: 1px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #1eacfa, stop: 0.5 #71889c, stop: 1.0 #1eacfa);
	border-left: 1px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #1eacfa, stop: 0.5 #71889c, stop: 1.0 #1eacfa);
}

#ToDoApps #NewTaskText,
#ToDoApps #TitleText {
	font: bold 11pt black "Verdana";
}

#ToDoApps #AllNewTasks,
#ToDoApps #AllNewTasksContents {
	border: none;
	background-color: #103549;
}

#ToDoApps QPushButton {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	border: 3px;
    border-color: rgb(182, 120, 4);
    border-style: outset;
    background-color: orange;
	color: black;
	font: 10pt "Verdana";
}
#ToDoApps QPushButton::disabled{
	background-color:#dddddd;
    border-color: #aaaaaa;
	color: #aaaaaa;
}

#ToDoApps QPushButton:hover{
   background-color: rgb(182, 120, 4);
   border-color: orange;
   color: white;
}

#ToDoApps QPushButton:pressed{
   background-color: #aaaaaa;
}

#ToDoApps QPushButton:checked{
   background-color:  #1eacfa;
   border-color: #16587d;
}

#ToDoApps QScrollBar:vertical {
	border: 1px solid #9ed9f8;
	background:#9ed9f8;
	width:5px;    
	margin: 0px 0px 0px 0px;
}

#ToDoApps QScrollBar::handle:vertical {
	background:#1eacfa;
	min-height: 0px;
}

#ToDoApps QScrollBar::add-line:vertical {
	background:#1eacfa;
	height: 0px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

#ToDoApps QScrollBar::sub-line:vertical {
	background:#1eacfa;
	height: 0 px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}
#TaskName { font: bold 11pt black 'Verdana'; }

